<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom NER for identifying Bird Names from User-generated short texts on social medial.</title>
</head>
<body>
   <h1>There would be the form; submitting which the program would return bird name.</h1>
    
    <form action="/ner">
        <label for="lname">Enter Sentence: </label><br>
        <input type="textarea" id="sent" name="sent"><br><br>
        <input type="submit" value="Submit">
    </form> 
    <p>
    <p>Model & Program developed by Anirban Saha. Deployment on Heroku made with assistance from Abhishek Bora (student,) and Soham Basu (student, ). UI design by ?</p>
    <p>Version 1.0</p>
    <p>Model last updated: August 31, 2022.</p>

</body>
</html>
