<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom NER for identifying Bird Names from User-generated short texts on social media.</title>
</head>
<body>
    <center>
   <h1>Custom NER for identifying Bird Names.</h1>  
    <form action="/ner">
        <label for="lname">Enter Sentence: </label><br>
        <textarea id="sent" name="sent"></textarea><br><br>
        <input type="submit" value="Submit">
    </form> 
    <p>
    <p>Model last updated: August 31, 2022.</p>
    <p>Version 1.0</p>
    <p><a href="https://www.anirbansaha.com/custom-named-entity-recognition-ner-model-to-detect-bird-names-from-user-generated-texts-on-social-media-using-natural-langauge-processing-nlp-techniques-and-the-package-spacy/">Blog post</a>
    <p>Developer: Anirban Saha.<br>Special thanks to Abhishek Bora and Soham Basu for helping me understand Heroku.<br>UI design: </p>
 </center>
</body>
</html>
